.menuContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;   
}

.loginContainer{
    grid-column-start: 3;
    grid-row-start: 2;
}

.signupContainer{
    grid-column-start: 3;
    grid-row-start: 3;
}